<!-- Menu Footer-->
<li class="user-footer">
    <div class="pull-left">
        <!--<a href="#" class="btn btn-default btn-flat">Profile</a>--> 
    </div>
    <div class="pull-right">
        <a href="{{ path('hasheado_admin_logout') }}" class="btn btn-default btn-flat">{{ 'link_logout' | trans({}, "SonataUserBundle") }}</a>
    </div>
</li>
