/*! 
 *   Admin css
 *   Author: Emiliano Viada <emjovi@gmail.com>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/
/*
    Core: General style
----------------------------
*/
/** Spacing **/
.mtd { margin-top: 10px !important; }
.mbn { margin-bottom: 0 !important; }
/** END Spacing **/

/** List **/
#list-table tfoot .dropdown-menu {
    min-width: 114px;
    width: 114px;
}
.sonata-ba-list {
    padding-bottom: 30px;
}
/** END List **/

/** Flash messages **/
.alert {
    margin-left: 0;
}
/** END Flash messages **/

/** Forms **/
.sonata-ba-collapsed-fields {
    width: 100%;
}
.remember_me {
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 0;
}
.list-unstyled li {
    display: inline-block;
    margin: 0 5px;
}
/** END Forms **/

/** Select2 **/
.select2-container {
    display: block;
}
/** END Select2 **/
/*
    END Core: General style
----------------------------
*/
/*
    Breakpoints
----------------------------
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .sonata-ba-collapsed-fields {
        width: 50%;
    }
}
/*
    END Breakpoints
----------------------------
*/
